.layout-mobile .listItem-bottomoverview {
    display: none;
}

.secondary.listItem-overview.listItemBodyText {
    display:none;
}

#castCollapsible { 
    display: none; 
}
.hide + .detailPageWrapperContainer .detailPagePrimaryContent {
    display: none;
}
